{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Cart
{% endblock %}

{% block body %}
<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Shopping Cart</h2>
            </div>
            <div class="content">
                {% if items %}
                <div class="row g-0">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">                            
                            {% for item in items %}
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="{{ item.name.image.url }}"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><a class="product-name" href="{% url 'product:index' item.name %}">{{ item.name }}</a>
                                        <div class="product-specs">
                                            <div><span>Description:&nbsp;</span><span class="value">{{ item.name.description|truncatewords:60 }}</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <div class="row font-weight-bold m-1">
                                            Details
                                        </div>
                                        <div class="row">
                                            Quantity: {{ item.quantity }}
                                        </div>

                                        {% if item.size %}
                                        <div class="row">
                                            Size: {{ item.size }}
                                        </div>
                                        {% endif %}

                                        {% if item.color %}
                                        <div class="row">
                                            Color: {{ item.color }}
                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <a class="btn btn-sm btn-warning col-5 mr-1" href="{% url 'product:index' item.name %}"><i class="icon-pencil"></i></a>
                                            <a class="btn btn-sm btn-danger col-5" href="{% url 'cart:delete_item' item.name %}"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 price my_price"><span>{{ item.name.price }}</span><span>₹</span></div>
                                </div>
                            </div>
                            {% endfor %}
                        
                            
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <h4><span class="text">Subtotal</span><span class="price" id="my_subtotal">₹{{ subtotal }}</span></h4>
                            <h4><span class="text">Discount</span><span class="price" id="my_discount">₹{{ discount }}</span></h4>
                            <h4><span class="text">Shipping</span><span class="price" id="my_shipping">₹{{ shipping }}</span></h4>
                            <!-- Razorpay Button -->
                            <h4>
                                <span class="text">Total</span><span class="price" id="my_total">₹{{ total }}</span>
                            </h4>
                            <!-- <button class="btn btn-primary btn-lg d-block w-100" id = 'payment_button' type="button">Checkout</button> -->
                            <form action="{% url 'payment:payment_success' %}" method="post">
                                {% csrf_token %}
                                <script
                                    src="https://checkout.razorpay.com/v1/checkout.js"
                                    data-key="rzp_test_C3J7evdYwRoSAs" 
                                    data-amount="{{ total_in_paise }}"
                                    data-currency="INR"
                                    data-buttontext="Checkout"
                                    data-name="Order"
                                    data-description="Just few steps ahead..."
                                    data-image="{{ user.image.url }}"
                                    data-prefill.name="{{ user.first_name }} {{ user.last_name }}"
                                    data-prefill.email="{{ user.email }}"
                                >
                                payment_button = document.getElementById('payment_button');
                                payment_button.setAttribute('class') = 'btn btn-primary btn-lg d-block w-100';
                                
                                </script>
                                <!-- <input type="hidden" custom="Hidden Element" name="hidden"> -->
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="jumbotron">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row d-flex justify-content-center text-center">
                                <h4 class="display-4">Nothing here :( </h4>                                
                            </div>
                            <div class="row">
                                <div class="container d-flex justify-content-center">

                                    <a href="{% url 'home:all' %}" class="btn btn-lg btn-sm-12 btn-primary m-1 p-1">All Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
