{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Cart
{% endblock %}

{% block body %}
<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Shopping Cart</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="content">
                {% if items %}
                <div class="row g-0">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">                            
                            {% for item in items %}
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="{{ item.name.image.url }}"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><a class="product-name" href="{% url 'product:index' item.name %}">{{ item.name }}</a>
                                        <div class="product-specs">
                                            <div><span>Description:&nbsp;</span><span class="value">{{ item.name.description|truncatewords:60 }}</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2"><label class="form-label d-none d-md-block" for="quantity">Quantity</label>
                                        <div class="row">
                                            <div class="col-4" ><a class="btn btn-sm btn-warning" href="{% url 'product:index' item.name %}">Edit</a></div>
                                            <div class="col-4"><p class="m-1">{{ item.quantity }}</p></div>
                                            <div class="col-4 d-flex justify-content-center"><a class="btn btn-sm btn-danger" href="{% url 'cart:delete_item' item.name %}"><i class="icon-trash"></i></a></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 price my_price"><span>{{ item.name.price }}</span><span>₹</span></div>
                                </div>
                            </div>
                            {% endfor %}
                        
                            
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <h4><span class="text">Subtotal</span><span class="price" id="my_subtotal">₹{{ subtotal }}</span></h4>
                            <h4><span class="text">Discount</span><span class="price" id="my_discount">₹{{ discount }}</span></h4>
                            <h4><span class="text">Shipping</span><span class="price" id="my_shipping">₹{{ shipping }}</span></h4>
                            <h4><span class="text">Total</span><span class="price" id="my_total">₹{{ total }}</span></h4><button class="btn btn-primary btn-lg d-block w-100" type="button">Checkout</button>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="jumbotron">
                        <div class="col">
                            <div class="row d-flex justify-content-center">
                                <h4 class="display-4">Nothing here </h4>                                
                            </div>
                            <div class="row">
                                <a href="{% url 'home:all' %}" class="btn btn-lg btn-primary">Check out some COOL Stuff Here</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
