{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Badboystyle
{% endblock %}

{% block body %}
<!-- <h1>Badboy Style</h1> -->
<!-- <img src="{% static 'home/logo.png' %}" alt="" height="100px" width="100px"> -->
<main class="page landing-page">
    {% if success %}
    <div class="container">
        <div class="alert alert-success" role="alert">{{ success }}</div>
    </div>
    {% endif %}
    {% if error %}
    <div class="container">
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    </div>
    {% endif %}
    {% if message %}
    <div class="container">
        <div class="alert alert-primary" role="alert">{{ message }}</div>
    </div>
    {% endif %}
    <section class="clean-block slider dark">
        <div class="container">
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block" src="{{ carousel_images.i1.url }}" alt="Slide Image" style="height: 400px;"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="{{ carousel_images.i2.url }}" alt="Slide Image" style="height: 400px;"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="{{ carousel_images.i3.url }}" alt="Slide Image" style="height: 400.3px;"></div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Featured</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, repellat?</p>
            </div>
            <div class="row justify-content-center">
                {% for item in featured %}
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card">
                        <img class="card-img-top w-100 d-block" src="{{ item.image.url }}">
                        <!-- Try  -->
                        <div class="card-img-overlay">
                            <div class="row d-flex justify-content-end">
                                <div class="btn btn-lg btn-warning">OFFERRR !!!</div>                                
                            </div>
                          </div>
                        <!-- Try  -->
                        <div class="card-body info">
                            <h4 class="card-title"><a href="{% url 'product:index' item.name %}">{{ item.name }}</a></h4>
                            <p class="card-text">{{ item.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}
                <!-- <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ featured.p2.image.url }}">
                        <div class="card-body info">
                            <h4 class="card-title">{{ featured.p2.name }}</h4>
                            <p class="card-text">{{ featured.p2.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ featured.p3.image.url }}">
                        <div class="card-body info">
                            <h4 class="card-title">{{ featured.p3.name }}</h4>
                            <p class="card-text">{{ featured.p3.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
