{% extends 'home/layout.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}
Product
{% endblock %}

{% block body %}
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div id="product-preview" class="vanilla-zoom">
                                    <div class="zoomed-image"></div>
                                    <div class="sidebar">
                                        <img class="img-fluid d-block small-preview" src="{{ product.image.url }}">
                                        {% if product.image2 %}
                                        <img class="img-fluid d-block small-preview" src="{{ product.image2.url }}">
                                        {% endif %}
                                        {% if product.image3 %}
                                        <img class="img-fluid d-block small-preview" src="{{ product.image3.url }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <form action="{% url 'product:index' product.name %}" method="post">
                                    {% csrf_token %}
                                    <h3>{{ product.name }}</h3>
                                    <!-- STAR RATING STARTS -->
                                    <!-- <div class="rating"><img src="{% static 'assets/img/star.svg' %}"><img src="{% static 'assets/img/star.svg' %}"><img src="{% static 'assets/img/star.svg' %}"><img src="{% static 'assets/img/star-half-empty.svg' %}"><img src="{% static 'assets/img/star-empty.svg' %}"></div> -->
                                    <!-- STAR RATING ENDS -->
                                    <div class="price">
                                        {% if product.offer.discount %}
                                        <h6><strike>{{ product.price }}₹</strike>  {{ product.offer.discount }} %OFF</h6>
                                        {% with discounted_value=product.price|mul:product.offer.discount|div:100 %}
                                        <h3>{{ product.price|sub:discounted_value }}₹</h3>
                                        {% endwith %}
                                        {% else %}
                                        <h3>{{ product.price }}₹</h3>
                                        {% endif %}
                                    </div>
                                    <input type="text" name="cart_product" id="cart_product" value="{{ product.name }}" hidden>
                                    <div class="row">
                                        {% if user.is_active %}
                                        <div class="col-6">

                                            {% if product.product_of_item.quantity %}
                                            <p class="form-group">Quantity:<input type="number" name='quantity' min="1" placeholder="1" value="{{ product.product_of_item.quantity }}"></p>
                                            {% else %}
                                            <p class="form-group">Quantity:<input type="number" name='quantity' min="1" placeholder="1" value="1"></p>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <button class="btn btn-primary btn-lg m-1" type="submit" href="{% url 'cart:index' %}">
                                                <i class="icon-basket col-6"></i>Add to Cart
                                            </button>
                                        </div>
                                        {% else %}
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <a class="btn btn-primary btn-lg m-1" href="{% url 'home:login' %}">
                                                <i class="icon-basket col-6"></i>Add to cart
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="summary">
                                    <div class="flex-row">
                                            {% csrf_token %}
                                        {% if product.sizes_available %}
                                        <h4>Available Sizes                                            
                                            <select name="size" id="size">
                                            {% for size in product.sizes_available.all %}
                                            <option value="{{ size }}">{{ size }}</option>
                                            {% endfor %}
                                            </select>
                                        </h4>
                                        {% endif %}
                                        {% if product.colors_available %}
                                        <h4>Available Colors
                                            <select name="color" id="my_dropdown_for_color">
                                            {% for color in product.colors_available.all %}                                    
                                            <option style="background-color: {{ color.color }};" value="{{ color.color }}"><span>{{ color.name }}</span></option>
                                            {% endfor %}
                                            </select>
                                            <!-- <div class="d-flex flex-row"> -->
                                                <!-- {% for color in product.colors_available.all %} -->
                                                <!-- <button class="p-1 m-1 btn btn-lg" style="height: 20px; width: 20px; background-color: {{ color }};"><input type="hidden" value="{{ color }}"></button> -->
                                                <!-- {% endfor %} -->
                                            <!-- </div> -->
                                        </h4>
                                        {% endif %}
                                    </div>
                                    <p>{{ product.description }}</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <div>
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" id="description-tab" href="#description">Description</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" id="specifications-tabs" href="#specifications">Specifications</a></li>
                            <!-- REVIEWS TAB BUTTON STARTS -->
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" id="reviews-tab" href="#reviews">Reviews</a></li>
                            <!-- REVIEWS TAB BUTTON ENDS -->
                        
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active description" role="tabpanel" id="description">
                                {{ product.detail|safe }}
                            </div>
                            <div class="tab-pane fade specifications" role="tabpanel" id="specifications">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            {% if product.specification.product_dimension_LxWxH %}
                                            <tr>
                                                <td class="stat">Product dimension LxWxH</td>
                                                <td>{{ product.specification.product_dimension_LxWxH }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.manufacturer_name %}
                                            <tr>
                                                <td class="stat">Manufacturer name</td>
                                                <td>{{ product.specification.manufacturer_name }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.country_of_origin %}
                                            <tr>
                                                <td class="stat">Country of origin</td>
                                                <td>{{ product.specification.country_of_origin }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.department %}
                                            <tr>
                                                <td class="stat">Department</td>
                                                <td>{{ product.specification.department }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.manufacturer_address %}
                                            <tr>
                                                <td class="stat">Manufacturer address</td>
                                                <td>{{ product.specification.manufacturer_address }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.packer_address %}
                                            <tr>
                                                <td class="stat">Packer address</td>
                                                <td>{{ product.specification.packer_address }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.item_weight %}
                                            <tr>
                                                <td class="stat">Item weight</td>
                                                <td>{{ product.specification.item_weight }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.net_quantity %}
                                            <tr>
                                                <td class="stat">Net Quantity</td>
                                                <td>{{ product.specification.net_quantity }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if product.specification.included_components %}
                                            <tr>
                                                <td class="stat">Included Components</td>
                                                <td>{{ product.specification.included_components }}</td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td class="stat">Product Id</td>
                                                <td>{{ product.generated_product_id }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- REVIEWS TAB STARTS -->
                            <div class="tab-pane fade" role="tabpanel" id="reviews">
                                {% if user.is_active %}
                                <form action="{% url 'product:comment' product.name %}" method="post">
                                    {% csrf_token %}
                                    <div class="reviews">
                                        <div class="review-item">
                                            <!-- STAR REVIEW STARTS -->
                                            <!-- <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div> -->
                                            <!-- STAR REVIEW ENDS -->
                                            <!-- <h4>Incredible product</h4> -->
                                            <!-- <input class="form-control" type="text" name="comment" id="comment"> -->
                                            <textarea class="form-control" name="comment" id="comment" cols="30" rows="5"></textarea>
                                            <!-- <span class="text-muted">
                                                <a href="#">John Smith</a>, 20 Jan 2018
                                            </span> -->
                                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                            <button class="btn btn-md btn-primary m-1" type="submit">Post</button>
                                        </div>
                                    </div>
                                </form>
                                {% endif %}
                                {% for comment in comments reversed %}
                                <div class="reviews">
                                    <div class="review-item">

                                        <!-- STAR REVIEWS STARTS -->
                                        <!-- <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div> -->
                                        <!-- STAR REVIEWS ENDS -->
                                        <h4>{{ comment.comment }}</h4>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="text-muted">
                                                    <p>By {{ comment.author }}, {{ comment.edited }}</p>
                                                </span>
                                            </div>
                                            <div class="col-lg-6 d-flex justify-content-end">
                                                {% if comment.author.username == user.username %}
                                                <a class="btn btn-sm btn-danger m-0 p-3" href="{% url 'product:delete_comment' product.name comment.id %}"><i class="icon-trash"> Delete</i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <div class="review-item">
                                        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div>
                                        <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- REVIEWS TAB ENDS -->
                        </div>
                    </div>
                </div>
                {% if related_products %}
                <div class="clean-related-items">
                    <h3>Related Products</h3>
                    <div class="items">
                        <div class="row justify-content-center">
                            {% for a_product in related_products %}
                            <div class="col-sm-6 col-lg-4" style="max-width: 300px;">
                                <div class="clean-related-item">
                                    <div class="image">
                                        <a href="{% url 'product:index' a_product.name %}">
                                            <img class="img-fluid d-block mx-auto" src="{{ a_product.image.url }}">
                                        </a>
                                    </div>
                                    <div class="related-name">
                                        <a href="{% url 'product:index' a_product.name %}">{{ a_product.name }}</a>
                                        
                                        <!-- STAR RATING STARTS -->
                                        <!-- <div class="rating"><img src="{% static 'assets/img/star.svg' %}"><img src="{% static 'assets/img/star.svg' %}"><img src="{% static 'assets/img/star.svg' %}"><img src="{% static 'assets/img/star-half-empty.svg' %}"><img src="{% static 'assets/img/star-empty.svg' %}"></div> -->
                                        <!-- STAR RATING STARTS -->
                                        {% with discounted_value=a_product.price|mul:a_product.offer.discount|div:100 %}                                        
                                        <h4>{{ a_product.price|sub:discounted_value }}₹</h4>
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
