{% extends 'home/layout.html' %}

{% block title %}
Order History
{% endblock %}

{% block body %}
<main class="page mt-5 mb-5">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="font-weight-bold">Order History</h2>
                        </div>
                        <div class="card-body">
                        {% for order in orders %}
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row-lg-12">
                                            <h5 class="pt-2">Ordered on <b>{{ order.date }} {{ order.time }}</b></h5>
                                        </div>
                                        <div class="row-lg-12">
                                            <div class="col-lg-6">
                                                <p>Order Total: <b>{{ order.amount }}₹</b></p>
                                            </div>
                                            {% if order.paid %}
                                            <div class="col-lg-6">
                                                <p>Paid: <i class="icon-check"></i></p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-9 pt-2">
                                                <p>Order Id: {{ order.generated_order_id }}</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="{% url 'order:delete' order.generated_order_id %}" class="btn btn-md btn-danger"><i class="icon-trash">Delete</i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-row flex-nowrap overflow-auto">
                                    {% for product in order.products.all %}
                                    <div class="card card-block mx-2" style="min-width: 280px; max-width: 280px;">
                                        <img class="card-img-top img-thumbnail" src="{{ product.image.url }}" alt="">
                                        <div class="card-body">
                                            <p>{{ product.description|truncatewords:10 }}</p>
                                        </div>
                                        <div class="card-footer font-weight-bold d-flex justify-content-center">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="{% url 'product:index' product.name %}" >{{ product.name }}</a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="{% url 'product:review' product.name %}" class="btn btn-sm btn-primary">Share Review</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
